{% extends 'base.html.twig' %}

{% block title %}Change Password
{% endblock %}

{% block body %}
	<div class="col-6 mx-auto mt-5">
		<h1 class="text-center">Change your password</h1>
		<p>
			{{ form_start(resetForm) }}
		</p>
		<p>
			{{ form_row(resetForm.currentPassword) }}
		</p>
		<p>
			{{ form_row(resetForm.plainPassword) }}
		</p>
		<button class="btn btn-primary">Reset password</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
